* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100vw;
  display: flex;
  justify-content: center;
}

#totaldiv {
  margin-top: 50px;
  box-shadow: 0px 0px 10px 0px black;
  width: 500px;
}

h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;

  text-align: center;
}

#input-container {
  display: flex;
  margin: 50px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;

}
#taskbox {
  flex: 1;
  padding: 10px;
  margin: 5px 5px 5px 0px;
  border-radius: 50px;
  border: none;
  outline: none;
}
#addbutton {
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  background-color: orange;
}
